main {
    display: grid;
    grid-template-columns: 50%, 50%;
}
.commands_list {
    grid-column: 1;
}
.terminal {
    grid-column: 2;
}

#cmdTerminal {
    width: 100%;
    height: 300px;
}
#cmdSubmit {
    width: auto;
}
